<div class="row">

  <div ng-include="'partials/client/includes/menu-toolbar.html'"></div>

  <div class="row banner-principal">

    <div class="info-adv border-radius">

      <div class="container">

        <h1>Selecione uma Categoria</h1>
        <form>

          <div class="col-md-6">
            <select class="form-control" ng-model="categorieSelected" ng-change="selectCategorie(categorieSelected)">
              <option ng-repeat="(categorie, value) in categories" value="{{value}}">{{value}}</option>
            </select>
            <span>{{categorieSelected}}</span>
          </div>

        </form>

      </div>

    </div>

    <img src="img/banner.jpg" class="img-responsive img-full-width img-banner" alt="">
  </div>

  <div class="container">

    <h2 class="info" ng-show="loading">loading...</h2>

    <h2 class="center text-center">Empresas anunciantes em destaque:</h2>


      <div ng-repeat="adv in advertisers">
        <div class="col-md-3">
        <div ng-repeat="(region, value) in adv">

          <div ng-repeat="(cat, val) in value">

            <div ng-repeat="advertiser in val">

              <div ng-repeat="ad in advertiser">
                <a href="/#/{{region}}/anunciantes/{{ad.category}}/{{ad._id}}">
                  <div class="thumbnail">
                    <h3 class="text-center center">{{ad.name}}</h3>
                    <img ng-src="img/advertisers/{{ad.path}}/{{ad.images.logo}}" class="img-responsive" alt="{{adv.name}}">
                    <div class="caption">
                      <p>{{ad.address.address}}, {{ad.address.number}}</p>
                      <p>{{ad.phones[0].phone[0]}} / {{ad.phones[0].cel[0]}}</p>
                      <hr />
                      <p>Stars: {{ad.starts}}</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<div ng-include="'partials/client/includes//footer.html'"></div>
