<div class="col-md-12 footer">

  <div class="container">
    <div class="col-md-4">
      <h3>INSTITUCIONAL</h3>
      <p>Sobre a empresa</p>
      <hr />
      <ul class="sobreEmpresa">
        <li><a href="#">Quem Somos</a></li>
        <li><a href="#">Planos</a></li>
        <li><a href="#">Fale Conosco</a></li>
        <li><a href="#">Seja um Anunciante</a></li>
        <li><a href="#">Trabalhe Conosco</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>NEWSLETTER</h3>
      <p>Receba nossas atualizações</p>
      <hr />

      <form action="#">
        <div class="form-group">
          <input type="search" class="form-control" placeholder="Seu e-mail">
        </div>
      </form>
    </div>

    <div class="col-md-4">
      <h3>SIGA-NOS</h3>
      <p>Acompanhe nas redes sociais</p>
      <hr />
      <div class="col-md-4">Facebook</div>
      <div class="col-md-4">Twitter</div>
      <div class="col-md-4">Linkedin</div>
    </div>

  </div>

</div>


<div class="col-md-12 allRight">
  <div class="container">
    <small class="text-center"><p class="text-center">© 2016 - Find Sampa - Todos os direitos reservados. Política de privacidade e Termos de uso | by Tiago Lima</p></small>
  </div>
</div>
